=== SUSPICIOUS STUDIES AUDIT REPORT ===
Found 38 suspicious studies out of 39 total.

-- SQL TO DELETE/ARCHIVE SUSPICIOUS STUDIES --
/* REVIEW BEFORE EXECUTION */

-- Study: PARA_READER Reader Closure Study (para_reader-1780600825699) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'b078e3fe-9a63-4c9a-86af-3486594df5f2';
UPDATE public.studies SET status = 'archived' WHERE id = 'b078e3fe-9a63-4c9a-86af-3486594df5f2';

-- Study: MV_READER Reader Closure Study (mv_reader-1780544666231) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'bd94a99a-ac0e-4d0f-b1e5-777066190441';
UPDATE public.studies SET status = 'archived' WHERE id = 'bd94a99a-ac0e-4d0f-b1e5-777066190441';

-- Study: MV_READER Reader Closure Study (mv_reader-1780543391547) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'b4b6487a-f74a-46a0-bb65-3211a18db72d';
UPDATE public.studies SET status = 'archived' WHERE id = 'b4b6487a-f74a-46a0-bb65-3211a18db72d';

-- Study: PARA_READER Reader Closure Study (para_reader-1780542973395) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'da428d54-6206-48c1-bea4-1efc854e0c1b';
UPDATE public.studies SET status = 'archived' WHERE id = 'da428d54-6206-48c1-bea4-1efc854e0c1b';

-- Study: PARA_READER Reader Closure Study (para_reader-1780542589624) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '798667bd-4d84-4956-8c85-d912e325f10c';
UPDATE public.studies SET status = 'archived' WHERE id = '798667bd-4d84-4956-8c85-d912e325f10c';

-- Study: PARA_READER Reader Closure Study (para_reader-1780542411889) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '810c6a0d-6b32-4ddf-83a5-52e805a9ee2e';
UPDATE public.studies SET status = 'archived' WHERE id = '810c6a0d-6b32-4ddf-83a5-52e805a9ee2e';

-- Study: MV_E2E Live Study (mv_e2e-1780539383124) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'b93d3d68-4fa0-42e7-bb26-9bf9ed731a0a';
UPDATE public.studies SET status = 'archived' WHERE id = 'b93d3d68-4fa0-42e7-bb26-9bf9ed731a0a';

-- Study: PARA_E2E Live Study (para_e2e-1780539240120) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'a234b5ef-17cc-42d6-b868-e42190ecf3d0';
UPDATE public.studies SET status = 'archived' WHERE id = 'a234b5ef-17cc-42d6-b868-e42190ecf3d0';

-- Study: MV_E2E Live Study (mv_e2e-1780538085758) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '01c48721-71c8-4d24-ab07-24aa4f592f43';
UPDATE public.studies SET status = 'archived' WHERE id = '01c48721-71c8-4d24-ab07-24aa4f592f43';

-- Study: PARA_E2E Live Study (para_e2e-1780537948930) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '2fb6a550-cf92-45f0-8dad-7bdac1c89060';
UPDATE public.studies SET status = 'archived' WHERE id = '2fb6a550-cf92-45f0-8dad-7bdac1c89060';

-- Study: PARA_E2E Live Study (para_e2e-1780537725785) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '108c40c0-a892-42ba-91ba-1bae3c3527e5';
UPDATE public.studies SET status = 'archived' WHERE id = '108c40c0-a892-42ba-91ba-1bae3c3527e5';

-- Study: MV_E2E Live Study (mv_e2e-1780537051444) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '3c5a71f2-8c6b-44e7-a4da-77b13b6bdee1';
UPDATE public.studies SET status = 'archived' WHERE id = '3c5a71f2-8c6b-44e7-a4da-77b13b6bdee1';

-- Study: PARA_E2E Live Study (para_e2e-1780536785135) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'c2a5b13f-d6e0-480b-bfa8-b78baff0918a';
UPDATE public.studies SET status = 'archived' WHERE id = 'c2a5b13f-d6e0-480b-bfa8-b78baff0918a';

-- Study: PARA_E2E Live Study (para_e2e-1780536727169) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'b0bbe4dd-c508-4f6f-82de-acf907432d60';
UPDATE public.studies SET status = 'archived' WHERE id = 'b0bbe4dd-c508-4f6f-82de-acf907432d60';

-- Study: PARA_E2E Live Study (para_e2e-1780536686030) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'c5a08cf3-d7ca-4900-b6be-a8f2e405802c';
UPDATE public.studies SET status = 'archived' WHERE id = 'c5a08cf3-d7ca-4900-b6be-a8f2e405802c';

-- Study: VILO TEST 2 (vilo-general-002) | Org: Synthetic Site Alpha (Staging) | Reason: Fake/Test name
-- DELETE FROM public.studies WHERE id = 'f0da52b4-10ca-42e4-bd11-53411f5e3a89';
UPDATE public.studies SET status = 'archived' WHERE id = 'f0da52b4-10ca-42e4-bd11-53411f5e3a89';

-- Study: GEN_ONC Live Study (gen_onc-1780261880264) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '0c938da1-60fb-4065-81fe-b95e4e68b4ff';
UPDATE public.studies SET status = 'archived' WHERE id = '0c938da1-60fb-4065-81fe-b95e4e68b4ff';

-- Study: GEN_VAC Live Study (gen_vac-1780261852077) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '86cbc387-1bd3-40ae-a180-0769da76d0d7';
UPDATE public.studies SET status = 'archived' WHERE id = '86cbc387-1bd3-40ae-a180-0769da76d0d7';

-- Study: GEN_A002 Live Study (gen_a002-1780261824519) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '1d7743d9-1993-4c7a-a27d-319093a870db';
UPDATE public.studies SET status = 'archived' WHERE id = '1d7743d9-1993-4c7a-a27d-319093a870db';

-- Study: GEN_A001 Live Study (gen_a001-1780261792402) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '60e72d79-6c7f-4c9f-9458-02ecd496b564';
UPDATE public.studies SET status = 'archived' WHERE id = '60e72d79-6c7f-4c9f-9458-02ecd496b564';

-- Study: MV_E2E Live Study (mv_e2e-1780261271002) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'e7e881b2-268d-4495-8dd8-e9fc6ba47442';
UPDATE public.studies SET status = 'archived' WHERE id = 'e7e881b2-268d-4495-8dd8-e9fc6ba47442';

-- Study: PARA_E2E Live Study (para_e2e-1780261243083) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '2c57495f-33b4-4045-99fa-0cb98e4abd29';
UPDATE public.studies SET status = 'archived' WHERE id = '2c57495f-33b4-4045-99fa-0cb98e4abd29';

-- Study: MV_E2E Live Study (mv_e2e-1780260733156) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '8050e992-7601-414b-992d-86ec66688575';
UPDATE public.studies SET status = 'archived' WHERE id = '8050e992-7601-414b-992d-86ec66688575';

-- Study: PARA_E2E Live Study (para_e2e-1780260705648) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '92a40283-007a-4965-876e-5f114b4da520';
UPDATE public.studies SET status = 'archived' WHERE id = '92a40283-007a-4965-876e-5f114b4da520';

-- Study: PARA_E2E Live Study (para_e2e-1780260651756) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '93eea71b-ede0-4e8c-818d-6be1e8da94c4';
UPDATE public.studies SET status = 'archived' WHERE id = '93eea71b-ede0-4e8c-818d-6be1e8da94c4';

-- Study: PARA_E2E Live Study (para_e2e-1780260608344) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'e2604d06-1d5b-460f-a4cb-ad9810ac7f13';
UPDATE public.studies SET status = 'archived' WHERE id = 'e2604d06-1d5b-460f-a4cb-ad9810ac7f13';

-- Study: PARA_E2E Live Study (para_e2e-1780260558532) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '785837a8-9eee-4252-a6ee-5c38e770bf6e';
UPDATE public.studies SET status = 'archived' WHERE id = '785837a8-9eee-4252-a6ee-5c38e770bf6e';

-- Study: PARA_E2E Live Study (para_e2e-1780260515768) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'a2d3f8ba-6df0-4a86-acdf-7b1aa7972ab8';
UPDATE public.studies SET status = 'archived' WHERE id = 'a2d3f8ba-6df0-4a86-acdf-7b1aa7972ab8';

-- Study: PARA_E2E Live Study (para_e2e-1780260478692) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '795c8a96-f377-4217-984f-cf86c5509ac4';
UPDATE public.studies SET status = 'archived' WHERE id = '795c8a96-f377-4217-984f-cf86c5509ac4';

-- Study: PARA_E2E Live Study (para_e2e-1780260448432) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'd1b2cbeb-b4b4-4f0d-b59f-547b89e0b10e';
UPDATE public.studies SET status = 'archived' WHERE id = 'd1b2cbeb-b4b4-4f0d-b59f-547b89e0b10e';

-- Study: PARA_E2E Live Study (para_e2e-1780260409325) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'b93cf6df-33ad-4f29-b25d-864ca797d160';
UPDATE public.studies SET status = 'archived' WHERE id = 'b93cf6df-33ad-4f29-b25d-864ca797d160';

-- Study: PARA_E2E Live Study (para_e2e-1780260368972) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '6e34049f-1387-4474-80d9-f51f3c40fa0f';
UPDATE public.studies SET status = 'archived' WHERE id = '6e34049f-1387-4474-80d9-f51f3c40fa0f';

-- Study: PARA_E2E Live Study (para_e2e-1780260339594) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '78c1cc17-cd7c-4078-a3b1-3a64a926b20c';
UPDATE public.studies SET status = 'archived' WHERE id = '78c1cc17-cd7c-4078-a3b1-3a64a926b20c';

-- Study: PARA_E2E Live Study (para_e2e-1780260303483) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'acf9d5d6-caba-407b-8c8e-0be1343f4730';
UPDATE public.studies SET status = 'archived' WHERE id = 'acf9d5d6-caba-407b-8c8e-0be1343f4730';

-- Study: PARA_E2E Live Study (para_e2e-1780260242700) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = '85557d81-d826-40dd-9b95-28f1ccada4a3';
UPDATE public.studies SET status = 'archived' WHERE id = '85557d81-d826-40dd-9b95-28f1ccada4a3';

-- Study: PARA_E2E Live Study (para_e2e-1780260211939) | Org: Synthetic Site Alpha (Staging) | Reason: No protocol versions + recent
-- DELETE FROM public.studies WHERE id = 'ddb41e33-ecae-42d9-8aa6-60f917ef5f73';
UPDATE public.studies SET status = 'archived' WHERE id = 'ddb41e33-ecae-42d9-8aa6-60f917ef5f73';

-- Study: STUDY-KOA-001 Screening Visit Smoke Study (para-oa-012-smoke) | Org: Synthetic Site Alpha (Staging) | Reason: Fake/Test name
-- DELETE FROM public.studies WHERE id = '1981e202-14a0-413e-9963-4035ac8f2403';
UPDATE public.studies SET status = 'archived' WHERE id = '1981e202-14a0-413e-9963-4035ac8f2403';

-- Study: VILO TEST 001 (vilo-001) | Org: Synthetic Site Alpha (Staging) | Reason: Fake/Test name
-- DELETE FROM public.studies WHERE id = '2e8d2aae-deb2-4fb5-bc63-3853ae0e4442';
UPDATE public.studies SET status = 'archived' WHERE id = '2e8d2aae-deb2-4fb5-bc63-3853ae0e4442';

